# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env


# Logs
logs/
*.log

# Operating System
.DS_Store
Thumbs.db

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Build directories
dist/
build/
out/

# Dependency directories
bower_components/

# Coverage
coverage/

# Cache
.cache/
tmp/
*.swp

# Other
*.tgz
*.zip
*.rar
*.7z

# AWS credentials and other sensitive files
.aws/
